<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <script src="https://aframe.io/releases/1.2.0/aframe.min.js"></script>
    <link rel="stylesheet" href="../templates/css/main.css">
    <script src="../templates/js/main.js"></script>
    <script id="link" type="text/html">
        <a-entity class="link" geometry="primitive: plane; height: 1; width: 1" material="shader: flat; src: ${thumb}" event-set__mouseenter="scale: 1.2 1.2 1" event-set__mouseleave="scale: 1 1 1" event-set__click="_target: #image-360; _delay: 300; material.src: ${src}"
            proxy-event="event: click; to: #image-360; as: fade"></a-entity>
    </script>
</head>

<body>
    <a-scene>
        <a-assets>

            <img id="entance" src="../templates/assets/360 img/ENTRANCE.jpg">
            <img id="entrance-logo" src="../templates/assets/icon/ENTRANCE.png">
            <img id="entrance-left" src="../templates/assets/icon/ENTRANCE-LEFT.png">
            <img id="entrance-way-1" src="../templates/assets/icon/ENTRANCE-RIGHT-WAY-1.png"
            

            <img id="entrance-1" src="/assets/360 img/ENTRANCE-1.jpg">
            

        </a-assets>
        <a-entity id="camera" camera mouse-cursor look-controls>
            <a-cursor fuse="true" color="white"></a-cursor>
        </a-entity>

        <a-sky id="image-360" src="#entance" side="back">
            <a-text font="aileronsemibold" value="Main-Entrance" width="6" position="-3.12199 0.62451 2.29003" scale="1 1 0.94" rotation="-1.93 -54.02 -0.51" text="width: 6; align: center; color: #ffffff; side: back" visible=""></a-text>
            <a-text font="aileronsemibold" value="Left-Entrance" width="6" position="-4.40188 1.55321 -2.84317" scale="1.16 1.41 1" rotation="-5.85 -126.52 -0.69" text="width: 7.67; align: center; color: #ffffff; side: back" visible=""></a-text>
<a-text font="aileronsemibold" value="Right-Entrance" width="6" position="3.54533 1.61611 4.56957" scale="-1.88 1.97 -0.94" rotation="-0.05 -141.25 -0.7500000000000001" text="width: 6.05; align: center; color: #ffffff; side: back" visible=""></a-text>
            <a-entity id="main-entance" geometry="height: 6; width: 6" material="src:#entrance-logo; transparent: true; emissiveIntensity: 0" position="-22.36205 -0.16473 15.86397" rotation="0 -46.8 0" scale="1 1 0.94" cursor-listener="" link="href: entrance-2.html"></a-entity>
            
            <a-entity id="left-entance" geometry="height: 6; width: 6" material="src:#entrance-left; transparent: true; emissiveIntensity: 0" position="-26.04335 3.88945 -16.03935" rotation="0 66 0" scale="1 1 0.94" cursor-listener link="href: left_entrance.html"></a-entity>
            <a-entity id="entrance-way-1" geometry="height: 6; width: 6" material="src: #entrance-way-1; transparent: true; emissiveIntensity: 0" position="16.14807 3.22814 22.41545" rotation="0 40 0" scale="1 1 0.94" cursor-listener="" link="href: right-way-1.html"></a-entity>
        </a-sky>
    </a-scene>
</body>



</html>