<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://aframe.io/releases/1.2.0/aframe.min.js"></script>
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/main.js"></script>
</head>

<body>
    <a-scene>
        <a-assets>

            <img id="entance-right-1" src="/assets/360 img/ENTRANCE-RIGTHT-GATE-PATH-0.jpg">
            <img id="right-exit" src="/assets/icon/ENTRANCE-RIGHT-WAY-1.png">
            
           
        </a-assets>
        <a-entity id="camera" camera mouse-cursor look-controls>
            <a-cursor fuse="true" color="white"></a-cursor>
        </a-entity>
        <a-sky id="image-360" src="#entance-right-1">
            
            
            <a-entity id="right-exit" geometry="height: 6; width: 6" material="src: #right-exit; transparent: true; emissiveIntensity: 0" position="-16.40222 4.72765 -35.53558" rotation="0.207410721837358 40 -0.02349126960036375" scale="1 1 -0.001" cursor-listener="" link="href: right-way-2.html"></a-entity>
                  
                
             </a-sky>
    </a-scene>
</body>

</html>