<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://aframe.io/releases/1.2.0/aframe.min.js"></script>
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="/static/js/main.js"></script>
</head>

<body>
    <a-scene>
        <a-assets>

            <img id="waiting_hall" src="/static/360 img/waiting_hall.jpg">
            <img id="out" src="/static/icon/waitingroom-out.png">
            <img id="conference-in" src="/static/icon/conferencehall_in.png">
    
           
             
        </a-assets>
        <a-entity id="camera" camera mouse-cursor look-controls>
            <a-cursor fuse="true" color="white"></a-cursor>
        </a-entity>
        <a-sky id="image-360" src="#waiting_hall">
            <a-entity id="out" geometry="height: 6; width: 6" material="src: #out; transparent: true; emissiveIntensity: 0" position="23.51558 15.31904 -32.12257" rotation="0 -46.8 0" scale="2.69 2.9 0.1" cursor-listener="" link="href: waiting_hall_way.html"></a-entity>
            <a-entity id="conference-in" geometry="height: 6; width: 6" material="src: #conference-in; transparent: true; emissiveIntensity: 0" position="8.08331 12.66568 35.18346" rotation="-9.47 -32.44 9.24" scale="2.5 2.02 0.00001" cursor-listener="" link="href: conferece_hall.html"></a-entity>
          </a-sky>
    </a-scene>
</body>

</html>
