@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
:root {
    --primary: #F9A826;
    --secondary: #6B6B6B;
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}


/* Scroll bar */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 10px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

html {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, var(--secondary) 0%, var(--primary) 100%);
}

body {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.outer-box {
    min-width: 800px;
    display: inline-flex;
    max-width: 1000px;
    max-height: 800px;
    height: 95vh;
    background: #FFF;
    border-radius: 10px;
    flex-direction: column;
    justify-content: space-between;
}

.outer-box .heading {
    padding: 2rem;
}

.outer-box .row {
    display: flex;
    justify-content: space-evenly;
}

ul {
    list-style: none;
}

input {
    width: 24rem;
    padding-left: 2%;
    padding-right: 2%;
    text-transform: capitalize;
    height: 30%;
    border: 2px solid var(--primary);
    border-radius: 6px;
}

.last-end input {
    height: 2rem;
    width: 21rem;
}

.log {
    margin: 5px;
    height: 30px;
    border-radius: 5px;
    font-weight: 300;
    color: var(--primary);
    padding: 5px;
    background-color: transparent;
    border: 2px solid;
    text-align: center;
    cursor: pointer;
}

.outer-box .column {
    display: flex;
    width: 19rem;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.darker {
    border-color: #ccc;
    background-color: #ddd;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

.container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

.container img.right {
    float: right;
    margin-left: 20px;
    margin-right: 0;
}

.time-right {
    float: right;
    color: #aaa;
}

.time-left {
    float: left;
    color: #999;
}

.audio-btn {
    display: flex;
    justify-content: right;
}

.audio-btn button {
    margin: 5px;
    height: 40px;
    background-color: var(--primary);
    color: white;
    border-radius: 5px;
    padding: 10px;
    border: none;
    text-align: center;
    cursor: pointer;
}

.audio-btn button:hover {
    border: 2px solid var(--primary);
    transition: none;
    cursor: pointer;
}

.message-input {
    position: relative;
}

.last-end {
    justify-content: end;
}

.video-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: black;
}

.main-grid-container {
    display: grid;
    grid-template-columns: 60% 20%;
}

#container video {
    border-radius: 5%;
    max-height: 11rem;
    background-color: black;
}

.red-row {
    display: flex;
    align-items: center;
}

.row button {
    height: 2rem;
}

.left-entrance
{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 7rem;
    
    height: 23rem;
    z-index: 1000;
}

.left-entrance .left-content
{
    display: flex;
    flex-direction: column;
    padding: 12%;
    height: 21rem;
    justify-content: space-around;
}

p
{
    color: var(--primary);
    font-weight: bold;
    text-align: center;
}
.img-doc  img
{
height: 3rem;
}

.img-doc
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
