<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/home.css'%}">
    <script src="{% static 'js/home.js'%}"></script>
</head>

<body>
    <div class="bg">
        <nav>
            <div class="nav-left">
                <a href="/home"><img src="/static/img/icon.png" alt=""></a>
            </div>
            <div class="nav-right">
                <div class="right-flex">
                    <a id="home" href="/home">Home</a>
                    <a id="tour" href="/tour">Virtual Tour</a>
                    <a id="about" href="/about">About Us</a>
                </div>
            </div>
        </nav>
    </div>

</body>

</html>